.header {
    height: 700px;
    background: url("img/atl.png");
    background-size: cover;
    margin: 0 auto;
}

.topBar {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topBar a {
    color: #fff;
    font-family: Arial;
    text-decoration: none;
    margin-left: 20px;
}

.topLogo {
    text-align: center;
}

.circle-icon {
    border:5px solid #eee;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    font-size: 53px;
    padding-left: 21px;
}

.title {
    text-align: center;
    font-size: 55px;
}

.middleSection {
    text-align:center;
}

.footerSection {
    background-color: #515151;
    color: #aaaaaa;
    text-align: center;
    padding-top: 20px;
}

.footerSection {
    color:#aaaaaa;
    font-family: Arial;
    text-decoration: none;
    margin-left: 20px;
}

.copyright {
    font-size: 10px;
    padding-top: 20px;
}

/* without bootstraps
.header {
    height: 700px;
    background: url("img/atl.png");
    background-size: cover;
    text-align: center;
    font-family: Arial;
    margin: 0 auto;
}

.topBar {

}

.topLogo {

}

.topArrow {

}


.header {
    height: 700px;
    background: url("img/atl.png");
    background-size: cover;
    text-align: center;
    font-family: Arial;
    margin: 0 auto;

}

.headerTop {
    width: 960px;
    margin: 0 auto;
    color: #fff;
    padding: 1em;
    text-align: right;
}

.headerMiddle h1 {
    width: 960px;
    margin: 0 auto;
    color: #fff;
    font-weight: 100; 
    font-size: 55px;
    margin-top: 40px;

}
.headerMiddle img {
    margin-top: 150px;
}

.headerMiddle h4 {
    width: 960px;
    margin: 0 auto;
    color: #aaa;
    font-weight: 100;
    font-size: 21px;
    margin-top: 15px;
}

.headerArrow {
    width: 960px;
    margin: 0 auto;
    margin-top: 200px;
}


.middleSection {
    background-color: #eee;
}

.tagLine {
    text-align: center;
    color: #4d4d4d;
    margin: 100px 0px;
}

.first {
    text-align:right;
    color: #4d4d4d;
}

.first img {
    margin-bottom: 20px;
}

.first h2 {
    margin-bottom: 20px;
}

.textWrap {
    width: 230px;
    text-align: center;
    margin: 0 auto;
}

.second {
    text-align:center;
    color: #4d4d4d;
}
.second img {
    margin-bottom: 20px;
}

.second h2 {
    margin-bottom: 20px;
}

.third {
    text-align:left;
    color: #4d4d4d;
}
.third img {
    margin-bottom: 20px;
}

.third h2 {
    margin-bottom: 20px;
}

.footerBottom {
    text-align
}
*/